<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>student Record</title>
    <style>
        tabble,th,tr,td{
            border:1px solid black
        }
    </style>
</head>
<body>
<table>
    <h1>Student  Information</h1>
        <th>ID</th>
        <th>Name</th>
        <th>Roll</th>
        <th>City</th>
        <th>Marks</th>
        <th>Passing Year</th>
    {% for student in stu %}
        <tr>
          <td>{{student.id}}</td>
          <td>{{student.name}}</td>
           <td>{{student.roll}}</td>
           <td>{{student.city}}</td>
           <td>{{student.marks}}</td>
           <td>{{student.pass_date}}</td>
        </tr>
    {% endfor %}
</table>
{% comment %} <h3>Average Data {{average}}</h3>
<h3>Average {{average.marks__avg}}</h3><hr>

<h4>Min Data {{minimum}}</h4>
<h4>Minimum mark {{minimum.marks__min}}</h4><hr>

<h4>Man Data {{maximum}}</h4>
<h4>Maximum mark {{maximum.marks__max}}</h4><hr>   

<h4>Sum Data{{sum}}</h4>
<h4>sum of data {{sum.marks__sum}}</h4><hr>


<h4>Total Data{{totalcount}}</h4>
<h4>totalcount of data{{totalcount.marks__count}}</h4><hr> {% endcomment %}

</body>
</html>